section
    +question("Een dummy vraag: Wat is het juiste antwoord?")
    ul
        li.correct Het juiste antwoord
        li Het foute antwoord
        li Niet het juiste antwoord
        li Ook niet het juiste antwoord
