section(style="background-image: url(images/Omega_Nebula.jpg); background-size: cover;")
    .scores
        h1 Scorebord
        table
            tbody
                each player in data.players
                    tr
                        td #{player.id}
                        td #{player.score}
                //- tr
                //-     td Samson
                //-     td 1200
                //- tr
                //-     td Gert
                //-     td 1200
                //- tr
                //-     td Marie
                //-     td 600
                //- tr
                //-     td Burgemeester
                //-     td 600
                //- tr
                //-     td Alberto
                //-     td 600
                //- tr
                //-     td Octaaf
                //-     td 600
                //- tr
                //-     td Van Leemhuyzen
                //-     td -200
                //- tr
                //-     td Bobientje
                //-     td 600
                //- tr
                //-     td Marléne
                //-     td 0
                //- tr
                //-     td Miranda
                //-     td 0
                //- tr
                //-     td Jimmy De Cowboy
                //-     td 0
                //- tr
                //-     td De Afgevaardigde van de Minister
                //-     td 0
