section.ronde(style="background-image:url(images/evolutie/galapagos.JPG); background-size: cover;")
    hgroup(style="color:#FFF")
        h1 Evolutie

section
    +question("Welke wetenschapper is bekend geworden door zijn onderzoek naar evolutie?")
    ul
        li Einstein
        li.correct Darwin
        li Newton

    img.center(src="images/evolutie/darwin.jpg",height="50%")

section
    +question("Van welke soort aap stamt de mens af?")
    ul
        li Gorilla
        li Chimpansee
        li Bonobo
        li.correct Geen enkele

    img.center(src="images/evolutie/500px-Human_evolution_scheme.svg.png",height="50%")


section
    +question("Welk huidig dier is het meest verwant met de T-Rex?")
    ul
        li Krokodil
        li.correct Kip
        li Komodovaraan
        li Witte haai

    img.center(src="images/evolutie/1200px-Tyrannosaurus_Rex_Holotype.jpg",height="50%")

section
    +question("Welk soort dier was Harriet, meegebracht door Darwin na zijn expeditie in 1835 en dat uiteindelijk in 2006 stierf in een zoo in Australië?")
    ul
        li.correct Schildpad
        li Kip
        li Koe

    img.center(src="images/evolutie/savooien_op_de_galapagos.jpg",height="50%")
