section.ronde(style="background-image: url(images/einde-wereld-buitenaards-leven/b02b29d518c9c19d649485316679287d_XL.jpg); background-size: cover;")
    hgroup
        h1 Einde van de Wereld & Buitenaards Leven

section
    +question("Als de zon het einde van zijn leven nadert, begint hij op te zwellen tot een rode reuzenster, de aarde zal er dan nog steeds zijn, alleen is dan natuurlijk geen leven meer mogelijk. Binnen hoeveel jaar zal dit zijn ?")
    ul
        li 4.6 miljoen jaar
        li 4.6 biljoen jaar
        li.correct 4.6 miljard jaar
        li 4600 jaar

//- section
//-     +question("De maan komt altijd dichter bij de aarde, ooit zullen ze met elkaar botsen en dan is er geen leven meer mogelijk op aarde. Hoeveel cm komt de maan dichter bij de aarde per jaar?")
//-     ul
//-         // ?
//-         li.correct 3.8 cm
//-         li 12.8 cm
//-         li 23.8 cm
//-         li 33,8 cm

//- section
//-     +question("In het jaar 1995 was er een conferentie over iets waar we iets moeten aan doen om het leven op aarde te beschermen. Wat is er op deze conferentie besproken?")
//-     ul
//-         li Ze hebben ontdekt dat er over een aantal miljoen jaar een grote meteoriet op de aarde zal vallen
//-         li Over een aantal duizend jaar zal een grote vulkaan uitbarsten
//-         li De zon zal in  de komende honderd jaar meer gevaarlijke straling uitzenden
//-         li.correct De aarde warmt op

section
    +question("Volgens sommige mensen voorspelde de Maya kalender het einde van de wereld. Op welke datum eindigt volgens deze kalender de wereld?")
    ul
        li.correct 21 december 2012
        li 3 november 2020
        li 11 november 2028
        li 17 december 2036

section
    +question("Op welke planeet is er op 16 september 2020 fosfine gevonden? (wat kan duiden op primitief leven)")
    ul
        li.correct Venus
        li Mars
        li Jupiter
        li Saturnus

section
    +question("Welke maan in ons zonnestelsel maakt kans om leven te hebben door de aanwezigheid van veel water?")
    ul
        li Onze maan
        li Io
        li Triton
        li.correct Europa

section
    +question("Hoe heten de planeten die rond andere sterren dan onze zon draaien? Als de omstandigheden goed zijn is er hier kans op leven.")
    ul
        li Supernova’s
        li Witte dwergen
        li.correct Exo-planeten
        li Gasplaneten


section
    +question("Hoe heet de theorie die stelt dat leven op aarde niet ontstaan is op aarde, maar naar hier gekomen is door de ruimte?")
    ul
        li Exormie
        li.correct Panspermie
        li Transmie
        li Itermie

section
    +question("Welke conditie is het belangrijkste opdat een planeet leven kan herbergen?")
    ul
        li Er is zuurstof
        li.correct De juiste temperatuur
        li Er is vaste grond
        li Er moeten seizoenen zijn

