section.ronde(style="background-image: url(images/ruimtevaart-en-planeten/PIA22109-16.jpg); background-size: cover;")
    hgroup
        h1 Ruimtevaart en Planeten

section
    +question("Juli 2020 was een drukke maand want er werden maar liefst drie ruimtemissies naar de rode planeet Mars gestuurd. Een Arabische sonde genaamd Hope, een Chinese Tianwen en de Amerikanen kozen voor de complete naam Mars 2020. Maar wat is er speciaal aan de Mars 2020 missie van de NASA?")
    ul
        li Er zijn micro-organismen mee aan boord die moeten proberen op Mars te overleven.
        li.correct Er zijn twee aparte ruimtetuigen: een wagentje en een helikopter.
        li Het is de eerste bemande missie naar Mars.
        li Er is geen wagentje, er wordt telkens gevlogen naar andere plaatsen op het oppervlak.

section
    +question("Er wordt veel gezocht naar leven op Mars, maar Venus mengt zich nu ook in de debatten. Wat hebben wetenschappers ontdekt?")
    ul
        li.correct In de wolken is een molecuul ontdekt die door micro-organismen gemaakt worden.
        li Op het oppervlak is een molecuul ontdekt die door micro-organismen gemaakt worden.
        li Er werden bevingen geregistreerd die niet van natuurlijke oorsprong zijn.
        li Er is een enorme stijging van zuurstof, veroorzaakt door plantengroei.

section
    +question("Op de polen van onze maan zou meer water opgeslagen zijn dan tot nu toe werd aangenomen. Deze ontdekking werd geleverd door het SOFIA-observatorium. Maar wat is er bijzonder aan dit observatorium?")
    ul
        li Niets. Het is een observatorium zoals een ander.
        li Het bevindt zich in een baan om de maan.
        li Het bevindt zich in een baan om de aarde.
        li.correct Het bevindt zich in een vliegtuig.

section
    +question("Iedereen kent de vier grootste manen van Jupiter. Maar kan je ze correct rangschikken van klein naar groot?")
    ul
        li Ganymedes, Callisto, Europa, Io
        li Io, Europa, Ganymedes, Titan
        li.correct Europa, Io, Callisto, Ganymedes
        li Callisto, Europa, Io, Ganymedes

section
    +question("De landing van de Mars 2020 missie zal plaatsvinden in de Jezero krater. Wat is er zo speciaal aan die krater?")
    ul
        li Het is de grootste krater op Mars.
        li Het is de oudste krater op Mars.
        li.correct Het is een krater die vroeger gevuld was met water.
        li Het is de laatste krater die Opportunity bereikte.

