section.ronde(style="background-image:url(images/klimaat-milieu/NASA-Apollo8-Dec24-Earthrise.jpg); background-size: contain; background-repeat: no-repeat; background-position: center center; background-color: #000; color: #FFF;")
    hgroup
        h1 Klimaat en Milieu

section
    +question("Welk voedsel is het slechtst voor het klimaat?")

    ul
        li Kaas
        li.correct Rundsvlees
        li Varkensvlees
        li Appel

section
    +question("Waarmee kan je de meeste CO2-uitstoot besparen?")
    ul
        li.correct Je huis zuinig verwarmen
        li Altijd maximum 5 minuten douchen
        li Geen droogkast gebruiken

section
    +question("Wat veroorzaakt het broeikaseffect?")
    ul
        li Zware regenbuien
        li Hondenpoep op de stoep
        li.correct Koolstofdioxide (CO2)
        li Plasticsoep

section
    +question("Welk van de volgende drie landen telt de grootste CO2-uitstoot per inwoner?")
    ul
        li België
        li.correct Verenigde Staten van Amerika
        li China

section
    +question("Als al het ijs op Groenland en Antarctica zou smelten, met hoeveel meter zou de zeespiegel dan stijgen wereldwijd?")
    ul
        li 12 meter
        li 36 meter
        li.correct 65 meter

    img.center(src="images/klimaat-milieu/ijs.png",height="50%")
