section.ronde(style="background-image: url(images/fysica/Lightning_in_Arlington.jpg); background-size: cover; color:#FFF;")
    hgroup
        h1 Fysica

section
    +question("Je staat nog in de gang van de bus wanneer die wegrijdt uit de halte en begint te versnellen. Je springt uit frustratie recht omhoog. Waar komen je voeten terecht?")
    ul
        li Op dezelfde plaats
        li Meer naar de voorkant van de bus toe
        li.correct Meer naar de achterkant van de bus toe

    img.center(src="images/fysica/bus.jpg",height="50%")

section
    +question("Spiegeltje, spiegeltje, aan de ruimteschipwand, met lichtbron en detector aan de overkant, voor wie reist het licht over de langste afstand?")

    ul
        li O koningin, voor jou, hier in het ruimteschip, gaat het licht razend snel
        li.correct Maar voor Sneeuwwitje op aarde vliegt jouw schip ook wel heel snel

    img.center(src="images/fysica/spiegel.png",height="50%")


section
    +question("Wat smurft er niet?")

    ul
        li Dichtsmurf ondersmurft hier de effecten van de zwaartekrachtsmurf en alle drie smurfen van Newton
        li.correct Ismurf Newton kreeg het idee voor de zwaartekrachtsmurf toen hij een smurf op zijn peer kreeg
        li De derde smurf van Newton wordt ook wel actie-reactiesmurf gesmurft
        li Smurf Jobs was de topsmurf van Apple

    img.center(src="images/fysica/peer.png",height="40%")

section
    +question("Dankzij welke natuurkundige smurfen hebben we vandaag GPS (Globale Positionerings-Smurf)?")

    ul
        li De algemene relativiteitssmurf van Einsmurf
        li De smurfen van Newton
        li De gravitatiesmurf van Newton
        li.correct Al het bovensmurfende smurft

    img.center(src="images/fysica/gps.png",height="50%")

section
    +question("Dit is die jaar 2320. Aan boord van 'n ruimtetuig wat in Bloemfontein gaan land, sien jy deur die venster 'n kort treintonnel van 200 meter. 'N moltrein nader die tonnel by 60% van die ligspoed. Jy skat die trein als 300 meter lank. Wanneer sien jy die trein weer aan die ander kant verskyn?")

    ul
        li Die trein verdwyn eers heeltemal voordat dit aan die ander kant verskyn.
        li Moet eers na die snelheidsmeter in die ruimteskip kyk.
        li.correct Dit is 'n truukvraag!

    img.center(src="images/fysica/trein.png",height="30%")
