section.ronde(style="background-image: url(images/cryptische-omschrijvingen/20190410-78m-4000x2330.jpg); background-size: cover;")
    hgroup
        h1 Cryptische Omschrijvingen

section
    +open_question("Hij is groot en in het bijvoeglijk naamwoord zit ook zijn kleur.", "Rode reus")
    img.center(src="images/cryptische-omschrijvingen/plop.jpg",height="50%")

section
    +open_question("In het heelal zingt ze zonder instrumenten op de achtergrond.", "Capella")
    img.center(src="images/cryptische-omschrijvingen/pop-star.jpg",height="50%")

section
    +open_question("Een dronken man kijkt naar de sterrenhemel. Wat zal hij veel zien?", "dubbel sterren")
    img.center(src="images/cryptische-omschrijvingen/dubbel.jpg",height="50%")
section
    +open_question("Hij is je gids voor je oriëntatie bij nachtspelletjes. Dankzij hem geraak je het noorden nooit meer kwijt.", "poolster")
    img.center(src="images/cryptische-omschrijvingen/idiot-with-flash-light.jpg",height="50%")
section
    +open_question("Wat was het centrale thema van deze ronde?", "sterren")
    img.center(src="images/cryptische-omschrijvingen/purple-gathering.jpg",height="50%")
