section.ronde(style="background-image: url(images/hyperspace.jpg); background-size: cover;")
    hgroup
        h1 Stop de Band Ronde zonder Band
        h2 Aka Extra Vragen van Vincent

section
    +question("In Afrika is het te warm, en aan de Noordpool veel te koud. Daarom hebben wij gisteren... ")
    ul
        li.correct ... een maanraket gebouwd
        li ... boodschappen gedaan
        li ... een moto van een goede vriend geleend.

section
    +question("Ik ben hier ... , Marie is kapitein.")
    ul
        li de Koning
        li.correct de Eerste Stuurman
        li de Drummer

section
    +question("Ik vlieg nu zonder handen, het is toch altijd rechtdoor. Hé Samson kijk maar voor je...")
    ul
        li ... want wat ben ik blij dat jij er bent!
        li ... want we varen naar Timboektoetoe.
        li.correct ... want daar komt een meteoor!

section
    +question("Als je mee wil... ")
    ul
        li Laat het water vallen, en doe gewoon je ogen dicht.
        li.correct Er is plaats genoeg. We blijven weg tot morgenvroeg.
        li Het is wel heel ver, maar we zullen er geraken.
