section.next_time
    h1.nextTime(data-step-group="nextTime")
        <span class="firstLetter">N</span>EXT <span class="firstLetter">T</span>IME&hellip;

section.next_time
    p.activiteit-type(data-type="MIRA_Jeugdkern")

    .info
        h2 12 december 2020
        h3 Goede en Slechte Sterrenkunde in Films
        p.tijd 20:00 - 21:00


//- section.overzicht.next_time
//-     .list-wrapper
//-         ul
//-             li
//-                 span.datum 2021-01-09
//-                 |  Jeugdkern
//-             li
//-                 span.datum 2021-02-13
//-                 |  Jeugdkern
//-             li
//-                 span.datum 2021-03-13
//-                 |  Jeugdkern
